.demo__miniform__container {
  border:solid 2px blue;
}

.demo__miniform__label{
  font-size: 16px;
}

.demo__miniform__input {
  background-color: #eee;
}

.demo__miniform__submit{
  border: solid 2px green;
}
